<% unless flash.empty? %>
  <% flash.each do |key, message| %>
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <% alert_class = { success: "alert-success", error: "alert-danger", alert: "alert-warning", notice: "alert-info" }.with_indifferent_access[key] %>

        <div class="alert <%= alert_class %> mt-2 text-center">
          <%= message %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
