<h2>Orders</h2>
<hr>
<ul>
  <li>
    <strong>Orders:</strong> <%= @orders.count %>
  </li>
  <li>
    <strong>Shipments:</strong> <%= @shipments.count %>
  </li>
  <li>
    <strong>Products:</strong> <%= @products.count %>
  </li>
  <li>
    <strong>SKUs:</strong> <%= @skus.count %>
  </li>
</ul>

<h2>Packing</h2>
<hr>
<% @metrics.each do |product, items| %>
  <h4><%= product.name %></h4>

  <ul>
    <% items.each do |sku, count| %>
      <li>
        <strong><%= sku.stripe_id %>:</strong> <%= count %>
      </li>
    <% end %>
  </ul>
<% end %>
