<%= simple_form_for(@address.becomes(Address), url: customer_address_path(customer_id: @customer.to_param, id: @address.to_param, t: params[:t]), method: :patch) do |f| %>

  <% if @address.errors[:base].any? %>
    <div class="card-body">
      <ul>
        <% @address.errors[:base].each do |error| %>
          <li class="text-danger">
            <%= error %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :street1 %>
  <%= f.input :street2 %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :country, selected: "US" %>
  <%= f.input :zip %>

  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
