<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xl-6 my-2">
      <div class="card">
        <div class="card-header">
          Edit <%= @address.model_name.human.titleize %>
        </div>
        <div class="card-body">
          <%= render partial: 'addresses/form', locals: { address: @address } %>
        </div>
      </div>
    </div>
  </div>
</div>
