<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-6 mt-4">
      <div class="card">
        <div class="card-header">
          <%= @address.model_name.human.titleize %>
        </div>
        <div class="card-body">
          <%= formatted_address(@address) %>
        </div>
      </div>
    </div>
  </div>
</div>
