<% content_for :javascripts do %>
  <script src="https://js.stripe.com/v3/"></script>
<% end %>

<form id="js-credit-card">
  <div class="form-group">
    <label class="" for="cardholder-name">Name</label>
    <input class="form-control" id="cardholder-name" name="cardholder-name" type="text" placeholder="" value="<%= customer.full_name %>" />
  </div>
  
  <div class="form-group" id="js-feedback">
    <label class="" for="">Card</label>
    <div class="form-control" id="js-card-element"></div>
    <div class="invalid-feedback" id="js-error"></div>
  </div>

  <button id="js-submit" type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
  <div id="js-success" class="cc-success-alert">You're all set!</div>
</form>
