<% content_for :meta do %>
  <%= tag :meta, name: "card-url", content: api_v1_customer_card_path(@customer) %>
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-5 col-md-8 my-2">
      <div class="card">
        <div class="card-header">
          Edit Card
        </div>
        <div class="card-body">
        <%= render partial: 'cards/form', locals: { customer: @customer } %>
      </div>
    </div>
  </div>
</div>
