body {
  background: #E6EBF1;
}

.card {
  box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
              0 3px 6px 0 rgba(0,0,0,0.08);
}

.cc-success-alert {
  @extend .alert;
  @extend .alert-success;
  display: none;
  margin-bottom: 0;
  text-align: center;
}
