<!DOCTYPE html>
<html>
  <head>
    <title>DirtylemonApi</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= tag :meta, name: "stripe-key", content: ENV['STRIPE_PUBLISHABLE_KEY'] %>
    <%= content_for :meta %>

    <%= stylesheet_link_tag    'application' %>
  </head>

  <body>
    <%= render partial: "shared/flash" %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= content_for :javascripts %>
  </body>
</html>
